<footer style="background: #333; color: #fff; text-align: center; padding: 0px; position: relative; bottom: 0mm; width: 100%;">
    <p>&copy; 2025 E-Shop. All rights reserved.</p>
    <p>
        <a href="#" style="color: #fff; text-decoration: none; margin: 0 10px;">Privacy Policy</a>
        <a href="#" style="color: #fff; text-decoration: none; margin: 0 10px;">Terms of Service</a>
        <a href="#" style="color: #fff; text-decoration: none; margin: 0 10px;">Contact Us</a>
    </p>
</footer>
